body{
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    max-width: 1200;
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao a {
    text-decoration: none;
}

.topo {
    font-size: 30px;
    padding: 8px 15px 20px 15px;
    background-color: rgb(138, 222, 228);
}


.logo{
    color: black;
    cursor: pointer;
    width: max-content;
    overflow: hidden;
}

.logo:hover{
    color: #ffffff;
}

.blog{
    color: black;
    border-radius: 15px;
    cursor: pointer;
    width: max-content;
    overflow: hidden;
}

.blog:hover{
    color: #ffffff;
}

.listaDeNavegacao{
    color: black;
    border-radius: 15px;
    cursor: pointer;
    width: max-content;
    overflow: hidden;
}

.listaDeNavegacao:hover{
    color: #ffffff;
}

.titu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.intru {
    display: flex;
    justify-content: center;
    padding: 5px 300px 5px 300px;
    text-align: center;
}