body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #333333;
    background-size: cover;
    background-position: center;
    font-family: Arial;
    font-weight: 750;
    color: #FFD700;
}

.navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao a {
    text-decoration: none;
}

.topo {
    padding: 8px 15px 20px 15px;
    background-color: #0a5979;
}


.logo{
    font-size: 25px;
    cursor: pointer;
    color: #FFD700;
    width: max-content;
    overflow: hidden;
}

.logo:hover{
    color: #faeda6;
}

.blog{
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    color: #FFD700;
    width: max-content;
    overflow: hidden;
}

.blog:hover{
    color: #faeda6;
}

.listaDeNavegacao{
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    color: #FFD700;
    width: max-content;
    overflow: hidden;
}

.listaDeNavegacao:hover{
    color: #faeda6;
}

.Estudante{
    overflow: hidden;
    width: 300px;
    height: 300px;
}


.Estudante img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.titu {
    display: flex;
    justify-content: center;

}